<template lang="">
  <div class="row" style="margin-top: 5%">
    <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center">
      <img src="../assets/phone1.png" style="width: 75%; height: auto" alt="" />
    </div>
    <div class="col-lg-8 col-md-8 col-12 content">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <p class="text-style">
            Livie adalah platform berbasis mobile yang terintegrasi dengan
            SIMSDM yang menyediakan layanan: Presensi, Cuti, Payroll, Perjalanan
            Dinas, Pelatihan, Knowledge Management, Talent Management, Career
            Management, Helpdesk Operational Support untuk pelayanan Human
            Capital, dan lain sebagainya yang dapat diakses oleh seluruh
            karyawan PT Pos Indonesia (Persero) dalam satu aplikasi secara
            realtime dimanapun kapanpun.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12 mt-2">
          <button class="btn btn-md btn-cstm" @click="downloadFile(urlFile)">
            Download Aplikasi LIVIE
          </button>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mt-2">
          <button class="btn btn-md btn-cstm2" @click="downloadFile(urlJuknis)">
            Download Petunjuk Teknis LIVIE
          </button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-12 col-md-12 col-12">
          <p
            class="text-style"
            style="
              color: rgba(29, 68, 147, 1);
              font-size: 20px;
              font-weight: 700;
              margin-bottom:0;
            "
          >
            Cara Install LIVIE
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <img
            src="../assets/icon-down.png"
            style="display: block; margin-left: auto; margin-right: auto"
            alt=""
          />
        </div>
      </div>
      <!-- <div v-for="item in urlArr" :key="item.id">
        
      </div> -->
    </div>
  </div>
  <div class="row" style="margin-top: 10%">
    <div class="col-lg-12 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 38px; font-weight: 700"
      >
        Cara Install Aplikasi LIVIE
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 1.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 2.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 3.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
  </div>
  <div class="row mt-3" style="margin-bottom: 10%">
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 4.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 5.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
    <div class="col-lg-4 col-md-12 col-12">
      <p
        class="text-style"
        style="color: rgba(29, 68, 147, 1); font-size: 24px; font-weight: 700"
      >
        Langkah 6.
      </p>
      <p class="text-style pl-5 pr-5">
        Untuk user yang sudah pernah install LIVIE. Mohon untuk uninstall
        terlebih dahulu
      </p>
      <img src="../assets/phoneStep1.png" class="img-style" alt="" />
    </div>
  </div>
</template>
<script>
import serviceApi from "../services/services";
export default {
  name: "download-page",
  data() {
    return {
      urlArr: [],
      urlFile: "",
      urlJuknis: "",
    };
  },
  methods: {
    getUrl() {
      serviceApi
        .getAll()
        .then((response) => {
          this.urlArr = response.data.data;
          this.urlFile = this.urlArr[1].link;
          this.urlJuknis = this.urlArr[0].link;

          console.log(response.data.data);
        })
        .catch((e) => {
          console.log("error");
          console.log(e.message);
        });
    },
    downloadFile(url) {
      window.open(url);
    },
  },
  mounted() {
    this.getUrl();
  },
};
</script>
<style>
.btn-cstm {
  background-color: rgba(29, 68, 147, 1);
  color: #ffff;
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  border: 2px solid #1d4493;
  border-radius: 8px;
  width: 100%;
}
.btn-cstm2 {
  background-color: #ffff;
  color: rgba(29, 68, 147, 1);
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  border: 2px solid #1d4493;
  border-radius: 8px;
  width: 100%;
}
.text-style {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.content {
  margin-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}
.img-style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;
}
</style>
