<style>
body {
  background-image: url("./assets/bg-fix.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
.logo-vue {
  background-image: url("./assets/logo.png");
  width: 40%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: rgb(30, 69, 146) !important;
  color: white;
  text-align: center;
  height: 60px;
  padding-top: 1px;
  /* margin-top: -50px; */

}

.wrapp{
  min-height: calc(100vh - 70px) !important;
}

@media only screen and (max-width: 720px) {
  /* You can edit the max-width value to match what you need */
  .footer {
    height: 60px;
    width: 100%;
    background-color: rgb(30, 69, 146) !important;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1px;
    /* margin-top: 30px; You can edit the value of the margin top as you need */
    margin-top: -25px;
  }
  body {
    background-image: url("./assets/bg-mobile.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  }
}
#nav-style {
  background-color: rgb(30, 69, 146) !important;
}
</style>
<template>
  <div id="app">
    <!-- <div class="row p-2" id="nav-style">
      <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-center">
        <img src="./assets/livie_white.png" class="navbar-brand" width="120" />
      </div>
    </div> -->

    <div class="container wrapp">
      <router-view />
    </div>

    <footer class="footer">
      <h4
        class="m-4"
        style="
          font-family: 'Ubuntu';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
        "
      >
        2023 LIVIE | All Right Reserved
      </h4>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app",
};
</script>
